#aboutme-section {
  font-size: 19px;
}

.about-text {
  position: relative;
  margin-left: 30px;
  
}

.about-icon {
  font-size: 24px;
  position: absolute;
  left: -40px;
  margin-top: 5px;
  color: #66FCF1 ;
}

#aboutme-section p:last-child {
  margin-bottom: 0;
}

#aboutme-section h1 {
  color: #66FCF1 ;
}

#contactme-section {
  font-size: 19px;
  margin-top: 60px;
}

#contactme-section h1 {
  font-size: 50px;
  color: #66FCF1 ;
}

#contact-form p {
  margin-bottom: 10px;
}

#contact-form .form-control {
  margin-bottom: 15px;
}
